#site_wrap{
    
}
.container{
    max-width:1400px;
    margin-left:auto;
    margin-right:auto;
    padding-right: 60px;
    padding-left: 60px;
    @include devices(768px,992px){
        padding-right: 30px;
        padding-left: 30px;
    }
    @include devices(480px,768px){
        padding-right: 25px;
        padding-left: 25px;
    }
    @include devices_max(480px){
        padding-right: 15px;
        padding-left: 15px;
    }
}
.container-fluid{
    width: 100%;
}

