#site_wrap{
    
}
.container{
    max-width:1400px;
    margin-left:auto;
    margin-right:auto;
    padding-right: 60px;
    padding-left: 60px;
    @include devices(medium,large){
        padding-right: 30px;
        padding-left: 30px;
    }
    @include devices(small,medium){
        padding-right: 25px;
        padding-left: 25px;
    }
    @include devices_max(small){
        padding-right: 15px;
        padding-left: 15px;
    }
}
.container-fluid{
    width: 100%;
}
.row{
    margin-left: 0;   
}
.pos_relative{
    position: relative;
}
.absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.flex-middle {
    @include flex;
    @include flex-center;
    @include flex-middle;
}
.parallax-window{
    background: transparent;
    min-height: 300px;
}
.hidden {
    display: none;
}
