#site_wrap{
    
}
.container{
    max-width:1400px;
    margin-left:auto;
    margin-right:auto;
    padding-right: 60px;
    padding-left: 60px;
    @include devices(medium,large){
        padding-right: 30px;
        padding-left: 30px;
    }
    @include devices(small,medium){
        padding-right: 25px;
        padding-left: 25px;
    }
    @include devices_max(small){
        padding-right: 15px;
        padding-left: 15px;
    }
}
.container-left{
    padding-left: 24%;
    @include custom_devices_max(1920px){
        padding-left: 17%;
    }
    @include custom_devices_max(1600px){
        padding-left: 10%;
    }
    @include custom_devices_max(1440px){
        padding-left: 5%;
    }
    @include devices(medium,large){
        padding-left: 30px;
    }
    @include devices(small,medium){
        padding-left: 25px;
    }
    @include devices_max(small){
        padding-left: 15px;
    }
}
.container-right{
    padding-right: 24%;
    @include custom_devices_max(1920px){
        padding-right: 17%;
    }
    @include custom_devices_max(1600px){
        padding-right: 10%;
    }
    @include custom_devices_max(1440px){
        padding-right: 5%;
    }
    @include devices(medium,large){
        padding-left: 30px;
    }
    @include devices(small,medium){
        padding-left: 25px;
    }
    @include devices_max(small){
        padding-left: 15px;
    }
}
.container-fluid{
    width: 100%;
}
.row{
    margin-left: 0;   
}
.pos_relative{
    position: relative;
}
.absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.flex-middle {
    @include flex;
    @include flex-items-center;
    @include flex-items-middle;
}
.parallax-window{
    background: transparent;
    min-height: 300px;
}
.hidden {
    display: none;
}
.simple_horizontal_ul{
    list-style-type: none;
    margin: 0;
    li{
        display: inline-block;
        a{
            display: block;
        }
    }
}
.burger_vertical_ul{
    list-style-type: none;
    margin: 0;
    li{
        display: block;
        a{
            display: block;
            text-align: center;
            text-decoration: none;
        }
    }
}
